body {
  background-color: #FFFFFF;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}

.wrapper {
  width:900px;
  padding:50px;
}
section {
  width:850px;
  float:left;
  padding-bottom:50px;
}
